VITE_SUPABASE_URL=https://tpdobpbehkmbmxkltyhx.supabase.co
VITE_SUPABASE_ANON_KEY=ваш_publishable_или_anon_ключ
VITE_NOTIFICATION_URL=http://127.0.0.1:8787/notify
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
